{% extends "base.jinja2" %}
			{% block data %}
			<div class="arenda col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<img src="static/images/sweetHall.webp" alt="" class="arenda">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8">
					Уютный зал" <br>
					Cамое большое помещение, вместительностью до 60 человек. <br>
					Располагающая обстановка позволяет проводить время за свободным общением<br>
					Так же здесь проходят различные мероприятия для широкой аудитории. <br>
					1000 руб/час.В воскресенье 1100 руб./час. В субботу данный зал не сдается.
				</div>
			</div>
			<div class="arenda col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<img src="static/images/cteateHall.webp" alt="" class="arenda">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8">
					"Творческая"<br>
					Наша просторная мастерская,25 кв. метров, 10-18 человек. <br>
					500 руб./час. В выходные дни 600 руб./час
				</div>
			</div>
			<div class="arenda col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<img src="static/images/fireplace.webp" alt="" class="arenda">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8">
					"Каминная"  <br>
					Помещение 12 кв метров на 6-8 человек <br>
					500 руб/час. В выходные дни 600 руб./час <br>
				</div>
			</div>
			<div class="arenda col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<img src="static/images/ovalHall.webp" alt="" class="arenda">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8">
					"Мягкая комната" <br>
					Универсальное пространство для спорта, тренингов, игротеки и просто дружеских посиделок <br>
					600 руб/час. В выходные дни 800 руб./час <br>
				</div>
			</div>
			<div class="arenda col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<img src="static/images/softHall.webp" alt="" class="arenda">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8">
					"Овальная комната" <br>
					Идеально подходит для посиделок в небольшой компании за настольными играми.<br>
					500 руб/час. В выходные дни 600 руб./час.<br>
				</div>
			</div>
			<div class="arenda col-md-10 col-md-offset-2">
				При аренде от 3 часов чайная зона и пользование аппаратурой бесплатно. <br>
				Аренда чайной зоны 500 р, аренда аппаратуры 500 р. при аренде менее 3 ч. <br>

				По вопросам заказа и бронирования звоните по телефону<br>
				+7(343)207-07-06 <br>
			</div>
			{% endblock %}