{% extends "base.jinja2" %}
			{% block data %}
			<div class="contact col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-xs-4 col-sm-4">
					<img src="static/images/1.jpg" alt="" class="timeTablePicture">
				</div>
				<div class="col-md-8 col-xs-8 col-sm-8">
					<h1> Николаева Мария</h1>
					<h2>89657489845</h2>
				</div>
			</div>
			<div class="contact col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-xs-4 col-sm-4">
					<img src="static/images/2.jpg" alt="" class="timeTablePicture">
				</div>
				<div class="col-md-8 col-xs-8 col-sm-8">
					<h1> Дерксен Анна</h1>
					<h2>89124356787</h2>
				</div>
			</div>
			<div class="contact col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-xs-4 col-sm-4">
					<img src="static/images/3.jpg" alt="" class="timeTablePicture">
				</div>
				<div class="col-md-8 col-xs-8 col-sm-8">
					<h1> Денисенко Светлана</h1>
					<h2>89634567999</h2>
				</div>
			</div>
			<div class="contact col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-xs-4 col-sm-4">
					<img src="static/images/4.jpg" alt="" class="timeTablePicture">
				</div>
				<div class="col-md-8 col-xs-8 col-sm-8">
					<h1>Мережковская Ольга</h1>
					<h2>89124356234</h2>
				</div>
			</div>
			{% endblock %}