{% extends "base.jinja2" %}
			{% block data %}
			<div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-1 col-xs-offset-1 col-sm-offset-1" id="leftImage">
				<img src="static/images/left.jpg" alt="">
			</div>
			<div class="mainText col-md-9 col-xs-9 col-sm-9">
				<p>Автограф - это уютное пространство,<br> где каждый может чувствовать себя как дома! <br>

					Автограф - это место для:<br>
						- деловых встреч<br>
						- творческих вечеров<br>
						- полезных мастер классов<br>
						- концертов<br>
						- и т.д.<br>
				<br>
				В пространстве Автографа всё бесплатно: <br>участники оплачивают только время: <br>
				первый час: 1 минута = 2 рубля, далее: 1 минута = 1 рубль. <br>
				<h3>Ждём Вас друзья, по адресу: <br>
				Добролюбова, 16 <br>
				<br>
				Время работы:<br>
				Вс-Пт: 12:00-23:00<br>
				Сб: 16:00-06:00<br>
				<br>
				207-07-06 звоните нам! <br>
				Приходите к нам!</h3>  
				</p>
			</div>
			{% endblock %}
