{% extends "base.jinja2" %}
			{% block data %}
				{% for time in timeTables %}
				<div class="comment col-md-9 col-sm-9 col-xs-9 col-md-offset-1 col-xs-offset-1 col-sm-offset-1">
					<p> 
						<span class="head">{{time.Name_event}}</span><br>
					 	<span class="small">{{time.Data}}, {{time.Time}}</span><br>
					 	<span class="comment">{{time.About}}</span>
					</p>
				</div>
				{% endfor %}
			<!-- <div class="news col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<img src="static/images/table1.jpg" class="timeTablePicture">
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					26 декабря, понедельник
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					19:00 - Театральная импровизация<br>
					19:00 - МК "Новогодние игрушки своими руками"<br>
					20:00 - Шахматы
				</div>
			</div>
			<div class="news col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<img src="static/images/table2.jpg" class="timeTablePicture">
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					27 декабря, вторник
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					19:00 - Денежный поток<br>
					19:00 - МК "Украшение печенья"
				</div>
			</div>
			<div class="news col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<img src="static/images/table3.jpg" class="timeTablePicture">
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					28 декабря, среда
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					19:00 - Игротека<br>
					19:00 - Английский разговорный клуб<br>
					20:00 - "Без спора" диалог неравнодушных
				</div>
			</div>
			<div class="news col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<img src="static/images/table4.jpg" class="timeTablePicture">
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					29 декабря, четверг
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					19:00 - Игра сопротивление
				</div>
			</div>
			<div class="news col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<img src="static/images/table5.jpg" class="timeTablePicture">
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					30 декабря, пятница
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					18:00 - МК по вокалу
				</div>
			</div>
			<div class="news col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<img src="static/images/table6.jpg" class="timeTablePicture">
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					31 декабря, суббота
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6">
					16:00 - Новый год в анти-кафе "Автограф"
				</div>
			</div>-->
			{% endblock %}